# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production
dist/
build/

# Environment variables
.env.local
.env.*.local

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db
*.log

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
